<div class="container">
<a href="/profile/edit">Edit Profile</a>
<a href="/">Petition</a>
<a href="/logout">Log Out</a>
<div class="left">
   
<div>Here is a list of {{number}} people who care about these animals as much as you do:</div>

</div>
<div>
 {{#userInfo}}

<div class="signers">
    {{#if url}}<a class="link" href="{{url}}">{{first}} {{last}}</a> {{else}} {{first}} {{last}}{{/if}}  {{age}}  <a class="link" href="/signers/{{city}}">{{city}}</a>
    
</div>


 {{/userInfo}} 
 </div>

</div>

{{#if err}}
<div>
  <h3 id="error-log">there was an error</h3>
</div>
{{/if}}